@import "stylesBootstrap.min.css";

$primary: #8A0BDB;
$secondary: #0BDBA3;


$sm: "screen and (min-width: 576px)";
$lg: "screen and (min-width: 992px)";
$xl: "screen and (min-width: 1200px)";

#navbarContent{
  z-index: 1000;
  background-image: linear-gradient(45deg, $secondary, $primary);

  .cross{
    top: 0;
    right: 0;

  }
}

.frontBackground{
  background-image: url("../img/bridge-1660417_1920.jpg");
  background-position: center;
  background-size: cover;

  > div{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);

    > .navbar{

      > img{
        width: 35px;
        filter: invert(100%);
      }
    }

    > img{
      filter: invert(100%);
      height: 50px;
      width: fit-content;
    }

    > .middle{
    }
  }
}

.gradientButton{
  background-image: linear-gradient(to right, $secondary, $primary);
  background-size: 110%;
  background-position: center;
  border-radius: 100px;

  > p{
    border-radius: 100px;
  }
}

.iconsContainer{

  > div{

    > img{
      filter: invert(30%) sepia(98%) saturate(4702%) hue-rotate(268deg) brightness(78%) contrast(129%);
      height: 96px;
    }

    > p{
      color: #95989A;
    }
  }
}

.subscriptionContainer{
  > div{

    > div{
      border-width: 4px;
      border-style: solid;
      box-sizing: border-box;

      > div{

        > h2{
          font-size: 44px;
        }
      }

      .lead{
        font-size: 20px;
      }

      &.gradientBG{
        background-image: linear-gradient($secondary, $primary);

        .gradientButton{
          background: none;
        }
      }
    }
  }
}

@media #{$sm} {
  .frontBackground{

    > div{

      > .middle{

        > h2{
          font-size: 62px;
        }

        > p{
          font-size: 12px;
        }
      }
    }
  }
}

@media #{$lg} {
  .frontBackground{

    > div{

      > .middle{

        > h2{
          font-size: 82px;
        }

        > p{
          font-size: 18px;
        }
      }
    }
  }

  .iconsContainer, .subscriptionContainer{
    max-width: 1200px;
  }
}